
<p ng-show="ngCart.getTotalItems() === 0">Your cart is empty</p>

<table class="table table-hover" ng-show="ngCart.getTotalItems() > 0">
  <tbody>
    <tr ng-repeat="item in ngCart.getCart().items track by $index">
      <th>
        {{ item.getName() }}
        <span class="remove-from-cart"
              ng-click="ngCart.removeItemById(item.getId())">Remove</span>
      </th>
      <td class="text-right">
        {{ item.getPrice() | currency}}
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Total</td>
      <td class="text-right">{{ ngCart.totalCost() | currency }}</td>
    </tr>
  </tfoot>
</table>
